html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", Regular;
}

.h1 {
  font-size: 93px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

.h2 {
  font-size: 58px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.h3 {
  font-size: 47px;
  font-weight: 400;
  letter-spacing: 0px;
}

.h4 {
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.h5 {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0px;
  
}

.h6 {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.sub1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.sub2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.b1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.b2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.button {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.overline {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
}


.hero-image {
  height: 750px;
  background-image: url("LandingPageBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}