.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 37%;
  left: 18%;
}

.project-text,
.lighthouse-text {
  text-align: bottom;
  font-weight: 400px;
  margin: 0;
}

.project-text {
  color: white;
  font-size: 2vw;
  line-height: 2vw;
  letter-spacing: -0.5px;
}

.lighthouse-text {
  color: transparent;
  font-size: 7.5vw;
  line-height: 7.5vw;
  letter-spacing: 65px;
  -webkit-text-stroke: 2px #9f9f9f;
}